[submodule "plays/uclalib_role_common"]
	path = plays/uclalib_role_common
	url = git@github.com:UCLALibrary/ansible_uclalib_role_common.git
[submodule "plays/uclalib_role_ndlcinfo"]
	path = plays/uclalib_role_ndlcinfo
	url = git@github.com:UCLALibrary/ansible_uclalib_role_ndlcinfo.git
[submodule "plays/uclalib_role_fedoracamel"]
	path = plays/uclalib_role_fedoracamel
	url = git@github.com:UCLALibrary/ansible_uclalib_role_fedoracamel.git
[submodule "plays/uclalib_role_tomcat"]
	path = plays/uclalib_role_tomcat
	url = git@github.com:UCLALibrary/ansible_uclalib_role_tomcat.git
[submodule "plays/uclalib_role_iptables"]
	path = plays/uclalib_role_iptables
	url = git@github.com:UCLALibrary/ansible_uclalib_role_iptables.git
[submodule "plays/uclalib_role_haproxy"]
	path = plays/uclalib_role_haproxy
	url = git@github.com:UCLALibrary/ansible_uclalib_role_haproxy.git
[submodule "plays/uclalib_role_sinaischolars"]
	path = plays/uclalib_role_sinaischolars
	url = git@github.com:UCLALibrary/ansible_uclalib_role_sinaischolars.git
[submodule "plays/uclalib_role_iiifimages"]
	path = plays/uclalib_role_iiifimages
	url = git@github.com:UCLALibrary/ansible_uclalib_role_iiifimages.git
[submodule "plays/uclalib_role_karaf"]
	path = plays/uclalib_role_karaf
	url = git@github.com:UCLALibrary/ansible_uclalib_role_karaf.git
[submodule "plays/uclalib_role_travisdeploy"]
	path = plays/uclalib_role_travisdeploy
	url = git@github.com:UCLALibrary/ansible_uclalib_role_travisdeploy.git
[submodule "plays/uclalib_role_fedora4"]
	path = plays/uclalib_role_fedora4
	url = git@github.com:UCLALibrary/ansible_uclalib_role_fedora4.git
[submodule "plays/uclalib_role_java"]
	path = plays/uclalib_role_java
	url = git@github.com:UCLALibrary/ansible_uclalib_role_java.git
[submodule "plays/uclalib_role_apache"]
	path = plays/uclalib_role_apache
	url = git@github.com:UCLALibrary/ansible_uclalib_role_apache.git
[submodule "plays/uclalib_role_solr4"]
	path = plays/uclalib_role_solr4
	url = git@github.com:UCLALibrary/ansible_uclalib_role_solr4.git
[submodule "plays/uclalib_role_dataarchive"]
	path = plays/uclalib_role_dataarchive
	url = git@github.com:UCLALibrary/ansible_uclalib_role_dataarchivemysql.git
